<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade</title>
</head>

<body>
    <form action="/resultado" method="get">
        <h1>Operações</h1>
        <p>Somar -> +</p>
        <p>Subtrair -> -</p>
        <p>Multiplicar -> *</p>
        <p>Divisão -> /</p>
        <hr>
        <div>
            <label for="num1">Numero 1: </label>
            <input type="text" name="num1">
        </div>
        <div>
            <label for="num2">Numero 2: </label>
            <input type="text" name="num2">
        </div>
        <div>
            <label for="operacao">Operação: </label>
            <input type="text" name="operacao">
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </form>
</body>

</html>