<!--Conta EJS-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo Express e EJS</title>
    <style>
        body {
            background-color: rgb(109, 109, 109);
            color: darkblue;
        }
    </style>
</head>
<body>
    <h1>Hello EJS and Express</h1>
    <p>Conta de juros compostos</p>
    <form action="/resultado" method="get">
        <div>
            <label for="num1">Capital inicial: </label>
            <input type="text" name="capital">
        </div>
        <div>
            <label for="num1">Taxa de juros(em decimal): </label>
            <input type="text" name="taxa">
        </div>
        <div>
            <label for="num1">Tempo de aplicação(dias): </label>
            <input type="text" name="tempo">
        </div>
        <input type="submit" value="Somar">
    </form>
</body>
</html>