<%- include("partials/cabecalho") %>

<form action="/registros" method="get">
    <div class="form-group">
        <label for="user-for-delete">Usuário para deletar</label>
        <input type="text" id="user-for-delete" name="userForDelete">
    </div>
    <input type="submit" value="Enviar">
</form>

<%- include("partials/rodape") %>
