<!--Conta EJS-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo Express e EJS</title>
    <style>
        body {
            background-color: black;
            color: darkblue;
        }
    </style>
</head>
<body>
    <h1>Hello EJS and Express</h1>
    <p>Conta de área do quadrado</p>
    <form action="/resultado" method="get">
        <div>
            <label for="num1">Tamanho do lado: </label>
            <input type="text" name="num1">
        </div>
        <input type="submit" value="Somar">
    </form>
</body>
</html>