<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/resultado" method="post" id="form">
        <label for="num1">Número 1</label>
        <input type="number" name="num1" required>
        <label for="num2">Número 2</label>
        <input type="number" name="num2" required id="num2">
        <p id="erro"></p>
        <label for="operacao">Operação</label>
        <input type="text" name="operacao" required id="operacao">
        <input type="submit" value="Enviar" id="botao">
    </form>
    <script>
        const form = document.querySelector("#form")
        form.addEventListener("submit", (e) => {
            const operacao = document.querySelector("#operacao").value
            const num2 = document.querySelector("#num2").value
            const erro = document.querySelector("#erro")
            if (operacao == "/") {
                if (num2 == 0) {
                    e.preventDefault()
                    erro.textContent = "Erro! Divisor inválido."
                }
            }
        })
    </script>
</body>
</html>