<!--Conta EJS-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo Express e EJS</title>
    <style>
        body {
            background-color: black;
            color: darkblue;
        }
    </style>
</head>
<body>
    <h1>Hello EJS and Express</h1>
    <p>Fórmula de Bhaskara</p>
    <form action="/resultado" method="get">
        <div>
            <label for="a">A: </label>
            <input type="text" name="a">
        </div>
        <div>
            <label for="b">B: </label>
            <input type="text" name="b">
        </div>
        <div>
            <label for="c">C: </label>
            <input type="text" name="c">
        </div>
        <input type="submit" value="Somar">
    </form>
</body>
</html>